body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
}

video,
canvas {
  width: 800px;
  height: 600px;
  border-radius: 20px;
  border: 2px solid #00ff88;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}