body {

  margin: 0;

  background: #050505;

  overflow: hidden;

  font-family: Arial;

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  height: 100vh;
}

/* TOP AREA */
.main-container {

  display: flex;

  gap: 20px;

  align-items: center;
}

/* CAMERA */
.camera-section {

  position: relative;

  width: 800px;

  height: 600px;
}

video,
.output_canvas{

  width: 800px;

  height: 600px;

  border-radius: 20px;

  border: 2px solid #00ff88;

  transform: scaleX(-1);
}

.output_canvas,
.drawing_canvas {

  position: absolute;

  top: 0;

  left: 0;
}

/* PARTICLE */
.particle-section {

  width: 500px;

  height: 600px;

  border: 2px solid #00ff88;

  border-radius: 20px;

  overflow: hidden;

  background: #0b0b0b;

  position: relative;
}

#particle_canvas {

  width: 100%;

  height: 100%;
}

/* OPTIONS */
.options {

  margin-top: 20px;

  display: flex;

  gap: 20px;
}

.options button {

  padding: 15px 30px;

  background: black;

  border: 2px solid #00ff88;

  color: #00ff88;

  border-radius: 12px;

  cursor: pointer;

  font-size: 16px;

  transition: 0.3s;
}

.options button:hover {

  background: #00ff88;

  color: black;
}
.drawing_canvas {

  transform: none !important;
}